# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.ruff_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject

# Quarto / docs
docs/_build/
docs/.quarto/
docs/reference/
.quarto/
_freeze/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
